[submodule "bundle/flake8"]
	path = bundle/flake8
	url = git://github.com/nvie/vim-flake8.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = git://github.com/fs111/pydoc.vim.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "bundle/nose.vim"]
	path = bundle/nose.vim
	url = git://github.com/lambdalisue/nose.vim.git
[submodule "bundle/vim-makegreen"]
	path = bundle/vim-makegreen
	url = git://github.com/reinh/vim-makegreen.git
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = git://github.com/sukima/xmledit.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/rake"]
	path = bundle/rake
	url = git://github.com/tpope/vim-rake.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "bundle/scriptease"]
	path = bundle/scriptease
	url = git://github.com/tpope/vim-scriptease.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/checkstyle"]
	path = bundle/checkstyle
	url = git://github.com/vim-scripts/java_checkstyle.vim.git
[submodule "bundle/nerdtree-tabs"]
	path = bundle/nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/simplebar"]
	path = bundle/simplebar
	url = git://github.com/kadimisetty/vim-simplebar.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-ansible-yaml"]
	path = bundle/vim-ansible-yaml
	url = git://github.com/chase/vim-ansible-yaml.git
