[submodule "bundle/flake8"]
	path = bundle/flake8
	url = git://github.com/nvie/vim-flake8.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = git://github.com/fs111/pydoc.vim.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "bundle/nose.vim"]
	path = bundle/nose.vim
	url = git://github.com/lambdalisue/nose.vim.git
[submodule "bundle/vim-makegreen"]
	path = bundle/vim-makegreen
	url = git://github.com/reinh/vim-makegreen.git
